<form ng-submit="onSubmit()" id="recipeForm">
    <label for="employeeName">
        Employee Name
        <input id="employeeName" type="text" ng-model="employeeInput.name"/>
    </label>
    <label for="employeeEmail">
        Email:
        <input id="employeeEmail" type="text" ng-model="employeeInput.email"/>
    </label>
    <label for="employeePhoneNumber">
        Phone Number:
        <input id="employeePhoneNumber" type="text" ng-model="employeeInput.phoneNumber"/>
    </label>
     <label for="employeeAdress">
        Adress:
        <input id="employeeAdress" type="text" ng-model="employeeInput.adress"/>
    </label>
    

    <button type="submit" class="submit">Save</button>
</form>